{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-sm">
    <h2>Active Listings</h2>

    {% for listing in listings %}
    <a href="{% url 'listing_page' listing.id %}" style="text-decoration: none; color: inherit;">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{listing.listing_picture}}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">      
              <h5 class="card-title">{{listing.listing_title}}</h5>
              <h6 class="card-title">${{listing.listing_price}}.00</h5>
              <p class="card-text">{{listing.listing_description}}</p>
              <p class="card-text"><small class="text-muted">Created {{listing.listing_creation_date}}</small></p>
              
            </div>
          </div>
        </div>
      </div>
    </a>
      {% endfor %}
</div>
{% endblock %}